body {
    margin: 0;
    background-color: black;
    font-family: monospace;
    color: #f4f4f4;

}

.header{
    height:700px;
    background-image: url(/assets/valhalla.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-position-x: center;
}

.header p {
    font-family: 'Graduate', cursive;
    font-weight: 400;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    color: white;
    margin: 191px;
}

.header .container{
    justify-content: space-between;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.navBar {
    width: 300px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li a {
    color: #f4f4f4;

}

.logo {
    width: 100px;
}
/* fim cabeçalho */

/* inicio das logos */
.empresas{
    height: 100px;
    background-color: rgb(29, 28, 28);
}

.empresas img {
    margin-left: 22%;
    margin-top: 3%;
}

/* fim das logos */


.bgCombo {
    background-image: url(/assets/combo.png);
    height: 80vh;
    background-size: cover;
    justify-content: center;
    background-position-x: center;
}

h2 {
    margin: 0;
    font-family: 'Graduate', cursive;
    font-weight: 400;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
}

.botãoCombo button {
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 196px 65px 0px 62px;
}

.play {
     background-image: linear-gradient(45deg, #c1b3b3, transparent);
}

.xbox {
     background-image: linear-gradient(45deg, #32a90b, transparent);
     /* margin: 17px; */
}

.nitendo {
     background-image: linear-gradient(45deg, #c20c0c, transparent);
}
.nitendo img {
    width: 120px;
    /* height: 200px; */
}

.steam {
     background-image: linear-gradient(45deg, #0d0981, transparent);
}

